<html>
    <head>

    </head>
    <body>
        <h1>Python programing</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex expedita perferendis nesciunt sequi officiis, autem unde! Facere veritatis perspiciatis quidem sint cumque vero tempora. Quibusdam distinctio voluptates fugit eligendi nihil.</p>
        <a href="/file/">hello</a>
       <a href="/link/">go to home pgae</a>
       <h1>Java programming</h1>
       <a href="/nice/">nice</a>
       <h1> welcome to git</h1>
    </body>
</html>